.admin-btn {
  position: fixed;
  top: 80px;          
  right: 180px;
  z-index: 10000;

  background: linear-gradient(135deg, #d4af37, #f5e08e);
  color: #000;
  border: none;
  padding: 6px 16px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 18px;
  cursor: pointer;

  box-shadow: 0 6px 15px rgba(212, 175, 55, 0.35);
  transition: all 0.3s ease;
}

.admin-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(212, 175, 55, 0.55);
}
