.image-banner {
  width: 100%;
  background: #fff;
  padding: 80px 0;
  display: flex;
  justify-content: center;

  /* animation initial state */
  opacity: 0;
  transform: translateY(40px) scale(0.96);
  transition: all 0.9s ease;
}

.image-banner.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.image-banner img {
  max-width: 1400px;
  width: 100%;
  height: 90%;
}
